<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>document</title>
</head>
<body>
    <p>hello!</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.surname}"></td>
        </tr>
    </table>
</body>
</html>